{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Edit Follow Up Mission
{% endblock %}
{% block content %}
<script src="{% static "core/js/jquery.min.js" %}"></script>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="">
            <b class="text-info">Mission Title: {{ oversight.oversight_name }}</b>
                <div class="d-flex">
                    <form action="{% url "close" oversight.id %}" class="form-inline">
                        <button style="margin: 0 !important" class="btn btn-sm btn-outline-dark">Close Mission</button>
                    </form>
                    <form action="{% url "export" oversight.id %}" class="form-inline">
                        <br>
                        <button style="margin: 0 !important" class="btn btn-sm btn-outline-dark">Export To CSV</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="{{ oversight.id }}" data-order="[]" class="table-sm table-bordered w-100">
                <thead class="table-head table-secondary">
                    <tr>
                        <th>NO</th>
                        <th>Area </th>
                        <th>Expected Controls</th>
                        <th>Findings</th>
                        <th>Risk Severity</th>
                        <th>Recommendations</th>
                        <th>Management Comment</th>
                        <th>Implemetantion Comment</th>
                        <th>Target Implementation Date</th>
                    </tr>
                </thead>
                <tbody>
                    <script>
                        var area_count = 1;
                    </script>
                    {% for section in sections %}
                    <tr>
                        <td colspan="9" class="alert alert-info">
                            <div>
                            {{ section.section_name }}
                            </div>
                        </td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                    </tr>
                    {% for area in areas %}
                    {% if area.section == section %}
                    <tr>
                        <td id="number-{{ area.id }}">
                            <script>
                                var area_id = {{ area.id }}
                                $(`#number-${area_id}`).text(area_count);
                                console.log(area_count);
                                area_count += 1;
                            </script>
                        </td>
                        <td class="area-field" contenteditable="false" field="area_name" data-id = "{{ area.id }}" >
                            {% if area.area_name %}
                            {{ area.area_name }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td class="area-field" contenteditable="false" field="expected_controls" data-id = "{{ area.id }}" >
                            {% if area.expected_controls %}
                            {{ area.expected_controls }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td class="area-field" contenteditable="false" field="findings" data-id = "{{ area.id }}" >
                            {% if area.findings %}
                            {{ area.findings }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                            {% if area.risk %}
                                {% if area.risk == "high" %}
                                    <td class="area-risk bg-danger text-light" contenteditable="false" field="risk" data-id = "{{ area.id }}">
                                        <span>{{ area.risk|capfirst }}</span>
                                    </td>
                                {% elif area.risk == "medium" %}
                                    <td class="area-risk bg-warning text-light" contenteditable="false" field="risk" data-id = "{{ area.id }}">   
                                        <span>{{ area.risk|capfirst }}</span>
                                    </td>
                                {% else %}
                                    <td class="area-risk bg-success text-light" contenteditable="false" field="risk" data-id = "{{ area.id }}">
                                        <span>{{ area.risk|capfirst }}</span>
                                    </td>
                                {% endif %}                          
                            {% else %}
                                </td>
                                &nbsp;
                                </td>
                            {% endif %}
                        <td class="area-field" contenteditable="false" field="recommendation" data-id = "{{ area.id }}" >
                            {% if area.recommendation %}
                            {{ area.recommendation }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>

                        <td class="area-field" contenteditable="false" field="comment" data-id = "{{ area.id }}" >
                            {% if area.comment %}
                            {{ area.comment }}                            
                            {% else %}
                            &nbsp;                           
                            {% endif %}
                        </td>
                        <td class="area-field"  contenteditable="true" field="implementation_comment" data-id = "{{ area.id }}" >
                            {% if area.implementation_comment %}
                            {{ area.implementation_comment }}                         
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                            {% if area.implementation_date %}
                                {% if today > area.implementation_date %}
                                    <td class="area-field" contenteditable="false" field="implementation_date" data-id = "{{ area.id }}" class="text-danger">{{ area.implementation_date }}</td>
                                {% else %}
                                    <td class="area-field" contenteditable="false" field="implementation_date" data-id = "{{ area.id }}" class="text-success">{{ area.implementation_date }}</td>
                                {% endif %}                   
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}
                        <td></td>
                    </tr>

                    <tr class="mb-4">
                        <td colspan="9" class="text-left">
                            <button class="edit-btn btn btn-outline-primary btn-sm collapsed" data-toggle="collapse"
                                data-target="#form-{{ area.id }}" data-id="{{ area.id }}">Edit Area</button>
                            <form id="form-{{ area.id }}" action="{% url "edit_follow_up" oversight.id %}" method="POST" class="collapse">
                                {% csrf_token %}                              
                                <div class="row" id="form-{{ area.id }}-data">
                                    <input type="text" name="area_id" value="{{ area.id }}" id="input-{{ area.id }}" hidden>
                                    <input type="text" name="section_id" value="{{ section.id }}" hidden>
                                    {% for field in area_form %}
                                    <div class="form-group col-md-4">
                                        {{ field|as_crispy_field }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <button class="btn btn-info">Update</button>
                            </form>
                        </td>
                        
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static "core/js/bootstrap.min.js" %}"></script>
<script src="{% static "core/js/datatables.min.js" %}"></script>
<script src="{% static "core/data-tables/js/dataTables.bootstrap4.min.js" %}"></script>

<script>
    function saveField(area_id, area_name, text, area_field, oversight_id){
        console.log(area_id+" "+area_name+" "+text);
        $.ajax({
            type: "get",
            url: "/edit/update_inline",
            data: {
                area_id : area_id,
                area_name : area_name,
                text : text,
                oversight_id: oversight_id,
            },

            success: function (response) {
                setTimeout(function(){
                    area_field.removeClass("loader");
                }, 800)
                console.log(response)    
            }
        });
    }

    $(document).ready(function () {
        $('#{{ oversight.id }}').DataTable({
            "targets": 'no-sort',
            "bSort": false,
            "order": [],
            "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "iDisplayLength": -1,
        });
        $(".edit-btn").on("click", function(){
            if($(this).hasClass("collapsed")){
                let area_id = $(this).attr("data-id")
                // console.log(area_id)   
                
                $.ajax({
                    type: "get",
                    url: "/ajax/area_form",
                    data: {
                        area_id:area_id,
                    },
                    success: function (data, status){
                        // console.log(data)
                        let form = $(`#form-${area_id}-data`)
                        form.find("input[name='area_name']").val(data.area_name)
                        form.find("textarea[name='expected_controls']").val(data.expected_controls)
                        form.find("textarea[name='findings']").val(data.findings)
                        form.find("select[name='risk']").val(data.risk)
                        form.find("textarea[name='recommendation']").val(data.recommendation)
                        form.find("textarea[name='comment']").val(data.comment)
                        form.find("input[name='implementation_date']").val(data.implementation_date)
                        // let area2 = form.find(`#input-{{ area_id }}`)
                        console.log(data.expected_controls)
                    }
                });
            }
        })

        let timer;
        let timeout = 1000;

        // $(".area-risk").on("click focus", function(){
        //     let risk = $(this)
        //     let risk_text = risk.find("span")
        //     risk.find("div").show()
        //     let risk_select = risk.find("select")
        //     risk_select.on("change", function(){
        //         console.log(risk_select.val())
        //         risk_text.text(risk_select.val().charAt(0).toUpperCase() + risk_select.val().slice(1))
        //         let area_name = risk.attr("field")
        //         let area_id = risk.attr("data-id")
        //         let text = risk_text.text().charAt(0).toLowerCase() + risk_text.text().slice(1)
        //         // console.log(area_name + )
        //         saveField(area_id, area_name, text)
        //     })
        //     // console.log(risk_select.val())
        // })

        // $(".area-risk").on("focusout", function(){
        //     let risk = $(this).find("div")
        //     risk.hide()
        //     console.log(risk.val())
        // })

        $(".area-field").on("focus", function(){
            console.log("focused");
            let area_field = $(this);
            if(area_field.text().match(/\w/) == null){
                $(this).html("");
            }else{
                //Nothing Continue Editing...
            }
        })

        $('.area-field').on("keyup focusout paste", function(){
            clearTimeout(timer);
            let area_field = $(this);
                timer = setTimeout(function(){
                    let area_id = area_field.attr("data-id")
                    let area_name = area_field.attr("field")
                    let text = area_field.text().trim()
                    let oversight_id = {{ oversight.id }}
                    // if(area_name == "risk"){
                    //     console.log(area_name)
                    //     area_field.find("div").show();
                    // }
                    area_field.addClass("loader");
                    saveField(area_id, area_name, text, area_field, oversight_id)
                    
                }, timeout);
        });

        $(".area-field").on("focusout", function(){
            let area_field = $(this).text()
            if(area_field == ""){
                $(this).html('&nbsp;');
            }else{

            }
        })

         //Update button Ajax Call\
        function updateArea(area_id, area_form){
            let oversight_id = {{ oversight.id }}
            
            setTimeout(() => {
                $(".update-btn").removeClass("loader");  
            }, 1000);            
            $.ajax({
                url: "/ajax/edit/",
                method: "post",
                data:{
                    "area_form_data":area_form,
                    oversight_id : oversight_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data, status){
                    if(true){
                        //Hide the form
                        $(`#form-${area_id}`).removeClass("show");  
                        let area = $(`#area-${area_id}`);
                        let area_fields = JSON.parse(area_form);
                        console.log(area_fields);
                        area.find("td[field='area_name']").text(data.area_name);
                        area.find("td[field='findings']").text(data.findings);
                        area.find("td[field='expected_controls']").text(data.expected_controls);
                        area.find("td[field='recommendation']").text(data.recommendation);
                        area.find("td[field='comment']").text(data.comment);
                        area.find("td[field='implementation_date']").text(data.implementation_date);

                    }
                },
                error: function(data){
                    console.log(data.responseText)
                }
            });
        }    

        
        $(".update-btn").on("click", function(e){
            e.preventDefault();
            let area_id = $(this).attr("data-id");
            console.log(area_id);
            let area_form = JSON.stringify($(`#form-${area_id}`).serializeArray());
            // console.log(area_form);
            $(this).addClass("loader");
            updateArea(area_id, area_form);
        })   

    });
</script>

{% endblock %}