{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Follow Up Missions
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-3 mb-4">
        <div class="card-header">
            <h4><b class="text-info">Oversight Mission Name: {{ oversight.oversight_name }}</b></h4>
            <div class="">
                <!-- <form action="" class="form-inline">
                    <br>
                    <button class="btn btn-outline-dark m-3">Submit Oversight Report</button>
                </form> -->
                <form action="{% url "export" oversight.id %}" class="form-inline">
                    <br>
                    <button class="btn btn-outline-dark m-3">Export To CSV</button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table id="{{ oversight.id }}" data-order="[]" class="display table-bordered">
                <thead>
                    <tr>
                        <th>Area </th>
                        <th>Expected Controls</th>
                        <th>Findings</th>
                        <th>Risk Severity</th>
                        <th>Recommendations</th>
                        <th>Management Comment</th>
                        <th>Target Implementation Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <td colspan="7" class="alert alert-info">
                            {{ section.section_name }}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% for area in areas %}
                    {% if area.section == section %}
                    <tr>
                        <td>
                            {% if area.area_name %}
                            {{ area.area_name }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if area.expected_controls %}
                            {{ area.expected_controls }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if area.findings %}
                            {{ area.findings }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                            {% if area.risk %}
                                {% if area.risk == "high" %}
                                    <td class="bg-danger text-light">{{ area.risk|capfirst }}</td>
                                {% elif area.risk == "medium" %}
                                    <td class="bg-warning text-light">{{ area.risk|capfirst }}</td>
                                {% else %}
                                    <td class="bg-success text-light">{{ area.risk|capfirst }}</td>
                                {% endif %}                          
                            {% else %}
                                </td>
                                &nbsp;
                                </td>
                            {% endif %}
                        <td>
                            {% if area.recommendation %}
                            {{ area.recommendation }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if area.comment %}
                            {{ area.comment }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                            {% if area.implementation_date %}
                                {% if today > area.implementation_date %}
                                    <td class="text-danger">{{ area.implementation_date }}</td>
                                {% else %}
                                    <td class="text-success">{{ area.implementation_date }}</td>
                                {% endif %}
                                                        
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="7" class="text-left ">
                            <button class="edit-btn btn btn-outline-primary btn-sm collapsed" data-toggle="collapse"
                                data-target="#form-{{ area.id }}" data-id="{{ area.id }}">Edit Area</button>
                            <form id="form-{{ area.id }}" action="{% url "edit_oversight" oversight.id %}" method="POST"
                                class="collapse">
                                {% csrf_token %}                              
                                <div class="row" id="form-{{ area.id }}-data">
                                    <input type="text" name="area_id" value="{{ area.id }}" id="input-{{ area.id }}" hidden>
                                    <input type="text" name="section_id" value="{{ section.id }}" hidden>
                                    {% for field in area_form %}
                                    <div class="form-group col-md-4">
                                        {{ field|as_crispy_field }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <button class="btn btn-info">Update</button>
                            </form>
                        </td>
                        
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static "core/js/jquery.min.js" %}"></script>
<script src="{% static "core/js/bootstrap.min.js" %}"></script>
<script src="{% static "core/js/datatables.min.js" %}"></script>
<script src="{% static "core/data-tables/js/dataTables.bootstrap4.min.js" %}"></script>
<script>
    $(document).ready(function () {
        $('#{{ oversight.id }}').DataTable();
        $(".edit-btn").on("click", function(){
            if($(this).hasClass("collapsed")){
                let area_id = $(this).attr("data-id")
                console.log(area_id)   
                
                $.ajax({
                    type: "get",
                    url: "/ajax/area_form",
                    data: {
                        area_id:area_id,
                    },
                    success: function (data, status) {
                        // console.log(data)
                        let form = $(`#form-${area_id}-data`)
                        form.find("input[name='area_name']").val(data.area_name)
                        form.find("textarea[name='expected_controls']").val(data.expected_controls)
                        form.find("textarea[name='findings']").val(data.findings)
                        form.find("select[name='risk']").val(data.risk)
                        form.find("textarea[name='recommendation']").val(data.recommendation)
                        form.find("textarea[name='comment']").val(data.comment)
                        form.find("input[name='implementation_date']").val(data.implementation_date)
                        // let area2 = form.find(`#input-{{ area_id }}`)
                        console.log(data.expected_controls)
                    }
                });
            }
        })
    });
</script>
{% endblock %}