{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}


{% block title %}
Reports
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="card mb-2">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    <a class="card-link" style="color: black" data-toggle="collapse" href="#filterForm">
                        <h4 style="margin-top: 0" class="btn btn-sm btn-block btn-secondary">Filter Reports </h4>
                    </a>
                </div>
                <div class="col-md-6"></div>
                <hr>
            </div>
                
            <form class="collapse hide" method="get" id="filterForm">
                    <div class="bg-light p-2">
                        <div class="row">
                            <div class="form-group col-sm-4 col-md-3">
                                {{ oversights.form.close_year.label_tag }}
                                {% render_field oversights.form.close_year class="form-control" %}
                            </div>

                            <div class="form-group col-sm-4 col-md-3">
                                {{ oversights.form.regional_office.label_tag }}
                                {% render_field oversights.form.regional_office class="form-control" %}
                            </div>

                            <div class="form-group col-sm-4 col-md-3">
                                {{ oversights.form.country_office.label_tag }}
                                {% render_field oversights.form.country_office class="form-control" %}
                            </div>

                            <div class="form-group col-sm-4 col-md-3">
                                {{ oversights.form.business_unit.label_tag }}
                                {% render_field oversights.form.business_unit class="form-control" %}
                            </div>

                        </div>
                        <button type="submit" class="btn btn-block btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </div>
                </form>                
            </div>
        </div>
        <div class="alert alert-secondary font-weight-bolder" style="color: black; font-size: 17px;">Oversight Missions Breakdown</div>
        <div class="row mt-3">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bg-dark text-light">Ongoing Missions</div>
                    <div class="card-body">
                        <div class="row font-weight-bold text-center" style="font-size: 30px;">
                            <div class="col-md-6">
                                <i class="fa fa-tasks mr-4" aria-hidden="true" style="color: gray;"></i>
                            </div>
                            <div class="col-md-6">
                                {{ ongoing }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bg-dark text-light">Followup Missions</div>
                    <div class="card-body">
                        <div class="row font-weight-bold text-center" style="font-size: 30px;">
                            <div class="col-md-6">
                                <i class="fa fa-ticket  mr-4" aria-hidden="true" style="color: green;"></i>
                            </div>
                            <div class="col-md-6">
                                {{ follow_up }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bg-dark text-light">Closed Missions</div>
                    <div class="card-body">
                        <div class="row font-weight-bold text-center" style="font-size: 30px;">
                            <div class="col-md-6">
                                <i class="fa fa-calendar-check-o  mr-4" aria-hidden="true" style="color: green;"></i>
                            </div>
                            <div class="col-md-6">
                                {{ closed }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bg-dark text-light">Total Missions</div>
                    <div class="card-body">
                        <div class="row font-weight-bold text-center" style="font-size: 30px;">
                            <div class="col-md-6">
                                <i class="fa fa-calculator mr-4" aria-hidden="true" style="color:maroon;"></i>
                            </div>
                            <div class="col-md-6">
                                {{ total }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mb-2">
            <div class="col-md-6">
                <table id="updates_table" class="table table-sm table-bordered table-striped table-hover">
                    <div class="alert alert-info font-weight-bold" style="font-size: 16px; color: black; ">Recently Updated Oversights</div>
                    <thead class="table-head thead-dark">
                        <tr>
                            <th>Oversight Title</th>
                            <th>Updated On</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody class="table-body">
                        {% for oversight in recently_updated %}
                            <tr>
                                <td>{{ oversight.oversight_name }}</td>
                                <td>{{ oversight.updated_at }}</td>
                                {% if oversight.status %}
                                    {% if oversight.status == "ongoing" %}
                                        <td class="text-success">Ongoing</td>
                                    {% elif oversight.status == "follow_up" %}
                                        <td class="text-info">Follow Up</td>
                                    {% elif oversight.status == "closed" %}
                                        <td class="text-secondary">Closed</td>
                                    {% endif %}
                                {% endif %}
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div id="status_pie"></div>
            </div>
        </div>

    </div>
    <script src="{% static "core/js/jquery.min.js" %}"></script>
    <script src="{% static "core/js/bootstrap.min.js" %}"></script>
    <script src="{% static "core/js/datatables.min.js" %}"></script>
    <script src="{% static "core/data-tables/js/dataTables.bootstrap4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "core/fusioncharts/js/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "core/fusioncharts/integrations/jquery/js/jquery-fusioncharts.min.js" %}"></script>
    <script type="text/javascript" src="{% static "core/fusioncharts/js/themes/fusioncharts.theme.fusion.js" %}"></script>


    <script>
        $('document').ready(function () {

            //Add Datatable display to the recently updated Table
            $('#updates_table').DataTable({
                "targets": 'no-sort',
                "bSort": false,
                "order": [],
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "iDisplayLength": -1,
                "paging": false,
                "searching": false,
                "info": false,
            });


            $("#status_pie").insertFusionCharts({
            type: "pie2d",
            width: "100%",
            height: "400",
            dataFormat: "json",
            dataSource: {
                chart: {
                caption: "Status Breakdown",
                plottooltext: "<b>$percentValue</b> of Oversight Missions are on $label status",
                showlegend: "1",
                showpercentvalues: "0",
                legendposition: "bottom",
                usedataplotcolorforlabels: "1",
                showBorder: "1",
                theme: "fusion"
                },
                data: [
                {
                    label: "Ongoing",
                    value: "{{ ongoing }}"
                },
                {
                    label: "Follow up",
                    value: "{{ follow_up }}"
                },
                {
                    label: "Closed",
                    value: "{{ closed }}"
                },
                ]
            }
            });


        });



    </script>
    {% block javascript %}
    {% endblock %}
{% endblock %}