{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}


{% block title %}
Reports
{% endblock %}

{% block content %}
    <script src="{% static "core/js/jquery.min.js" %}"></script>
    <script src="{% static "core/js/bootstrap.min.js" %}"></script>
    <script src="{% static "core/js/datatables.min.js" %}"></script>
    <script src="{% static "core/data-tables/js/dataTables.bootstrap4.min.js" %}"></script>

    {% block javascript %}
    {% endblock %}
{% endblock %}