{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}


{% block title %}
Filter Templates
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card m-auto">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-sm btn-info w-100" data-toggle="collapse" data-target="#addForm">Create New Unit Template</button>
                </div>
                <div class="col-md-3">
                    <a class="card-link" style="color: black" data-toggle="collapse" href="#filterForm">
                        <h4 style="margin-top: 0" class="btn btn-sm btn-block btn-secondary">Filter Templates</h4>
                    </a>
                </div>
                <div class="col-md-6"></div>
                <hr>
            </div>
        </div>

        <form action="{% url "define_template" %}" method="POST" id="addForm" class="collapse text-left p-3">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form.regional_office.label_tag }}
                    {% render_field form.regional_office class="form-control" %}
                </div>
                <div class="col-md-4 form-group">
                    {{ form.country_office.label_tag }}
                    {% render_field form.country_office class="form-control" %}
                </div>
                <div class="col-md-4 form-group">
                    {{ form.business_unit.label_tag }}
                    {% render_field form.business_unit class="form-control" %}
                </div>
                <div class="col-md-4 form-group">
                    {{ form.template_name.label_tag }}
                    {% render_field form.template_name class="form-control" %}
                </div>
            </div>
            <button class="btn btn-outline-primary btn-block" type="submit">Submit</button>
        </form>

        <form class="collapse hide" method="get" id="filterForm">
                <div class="bg-light p-2">
                    <div class="row">
                        <div class="form-group col-sm-4 col-md-3">
                            {{ templates.form.template_name.label_tag }}
                            {% render_field templates.form.template_name class="form-control" %}
                        </div>

                        <div class="form-group col-sm-4 col-md-3">
                            {{ templates.form.regional_office.label_tag }}
                            {% render_field templates.form.regional_office class="form-control" %}
                        </div>

                        <div class="form-group col-sm-4 col-md-3">
                            {{ templates.form.country_office.label_tag }}
                            {% render_field templates.form.country_office class="form-control" %}
                        </div>

                        <div class="form-group col-sm-4 col-md-3">
                            {{ templates.form.business_unit.label_tag }}
                            {% render_field templates.form.business_unit class="form-control" %}
                        </div>

                    </div>
                    <button type="submit" class="btn btn-block btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>
            </form>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <table id="template" class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Template Name</th>
                        <th>Regional Office</th>
                        <th>Country Office</th>
                        <th>Business Unit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in templates.qs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ template.template_name }}</td>
                        <td>{{ template.regional_office }}</td>
                        <td>{{ template.country_office }}</td>
                        <td>{{ template.business_unit }}</td>
                        <td>
                            <a href="{% url "load_template" template.id %}"><button
                                    class="btn btn-outline-primary btn-sm">Load template</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
    </div>

    <script src="{% static "core/js/jquery.min.js" %}"></script>
    <script src="{% static "core/js/bootstrap.min.js" %}"></script>
    <script src="{% static "core/js/datatables.min.js" %}"></script>
    <script src="{% static "core/data-tables/js/dataTables.bootstrap4.min.js" %}"></script>
    <script>
        $(document).ready(function() {
            $('#template').DataTable({
                "targets": 'no-sort',
                "bSort": false,
                "order": []
            });
        });
    </script>
    {% block javascript %}
    {% endblock %}
{% endblock %}