{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Edit Follow Up Mission
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="">
            <b class="text-info">Mission Title: {{ oversight.oversight_name }}</b>
            <p> <b>Mission Objectives</b> <br> {{ oversight.objectives }}</p>
            <p> <b>Start Date : </b> {{ oversight.start_date }} </p>
            <p> <b>End Date : </b> {{ oversight.end_date }} </p>
                <div class="d-flex">
                    <form action="{% url "closed_oversights" %}" class="form-inline">
                        <button style="margin: 0 !important" class="btn btn-sm btn-outline-dark">Back to closed</button>
                    </form>
                    <form action="{% url "export" oversight.id %}" class="form-inline">
                        <br>
                        <button style="margin: 0 !important" class="btn btn-sm btn-outline-dark">Export To CSV</button>
                    </form>
                    <form action="{% url "download_pdf" %}" class="form-inline" method="GET">
                        <input type="text" name="oversight" value="{{ oversight.id }}" hidden>
                        <br>
                        <button style="margin: 0 !important" class="btn btn-sm btn-outline-dark">Export To PDF</button>
                    </form>       
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="{{ oversight.id }}" data-order="[]" class="table-sm table-bordered w-100">
                <thead class="table-head table-secondary">
                    <tr>
                        <th>Area </th>
                        <th>Expected Controls</th>
                        <th>Findings</th>
                        <th>Risk Severity</th>
                        <th>Recommendations</th>
                        <th>Management Comment</th>
                        <th>Implemetantion Comment</th>
                        <th>Target Implementation Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <td colspan="8" class="alert alert-info">
                            <div>
                            {{ section.section_name }}
                            </div>

                        </td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                        <td style="padding: 0px !important"></td>
                    </tr>
                    {% for area in areas %}
                    {% if area.section == section %}
                    <tr>
                        <td class="area-field" contenteditable="false" field="area_name" data-id = "{{ area.id }}" >
                            {% if area.area_name %}
                            {{ area.area_name }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td class="area-field" contenteditable="false" field="expected_controls" data-id = "{{ area.id }}" >
                            {% if area.expected_controls %}
                            {{ area.expected_controls }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td class="area-field" contenteditable="false" field="findings" data-id = "{{ area.id }}" >
                            {% if area.findings %}
                            {{ area.findings }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                            {% if area.risk %}
                                {% if area.risk == "high" %}
                                    <td class="area-risk bg-danger text-light" contenteditable="false" field="risk" data-id = "{{ area.id }}">
                                        <span>{{ area.risk|capfirst }}</span>
                                        <div style="display: none">
                                        {% render_field area_form.risk %}
                                        </div>
                                    </td>
                                {% elif area.risk == "medium" %}
                                    <td class="area-risk bg-warning text-light" contenteditable="false" field="risk" data-id = "{{ area.id }}">   
                                        <span>{{ area.risk|capfirst }}</span>
                                        <div style="display: none">
                                        {% render_field area_form.risk %}
                                        </div>
                                    </td>
                                {% else %}
                                    <td class="area-risk bg-success text-light" contenteditable="false" field="risk" data-id = "{{ area.id }}">
                                        <span>{{ area.risk|capfirst }}</span>
                                        <div style="display: none">
                                        {% render_field area_form.risk %}
                                        </div>
                                    </td>
                                {% endif %}                          
                            {% else %}
                                </td>
                                &nbsp;
                                </td>
                            {% endif %}
                        <td class="area-field" contenteditable="false" field="recommendation" data-id = "{{ area.id }}" >
                            {% if area.recommendation %}
                            {{ area.recommendation }}                            
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>

                        <td class="area-field" contenteditable="false" field="comment" data-id = "{{ area.id }}" >
                            {% if area.comment %}
                            {{ area.comment }}                            
                            {% else %}
                            &nbsp;                           
                            {% endif %}
                        </td>
                        <td class="area-field"  contenteditable="false" field="implementation_comment" data-id = "{{ area.id }}" >
                            {% if area.implementation_comment %}
                            {{ area.implementation_comment }}                         
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                            {% if area.implementation_date %}
                                {% if today > area.implementation_date %}
                                    <td class="area-field" contenteditable="false" field="implementation_date" data-id = "{{ area.id }}" class="text-danger">{{ area.implementation_date }}</td>
                                {% else %}
                                    <td class="area-field" contenteditable="false" field="area_name" data-id = "{{ area.id }}" class="text-success">{{ area.implementation_date }}</td>
                                {% endif %}                   
                            {% else %}
                            <td>&nbsp;</td>
                            {% endif %}
                        <td></td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static "core/js/jquery.min.js" %}"></script>
<script src="{% static "core/js/bootstrap.min.js" %}"></script>
<script src="{% static "core/js/datatables.min.js" %}"></script>
<script src="{% static "core/data-tables/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>


<script>
    $(document).ready(function () {
        $('#{{ oversight.id }}').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print',
                {
                'extend': 'pdf',
                'orientation': 'landscape',
                'pageSize': 'LETTER'
            }
            ],
            "targets": 'no-sort',
            "bSort": false,
            "order": [],
            "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "iDisplayLength": -1,
        });
    });
</script>

{% endblock %}